<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/courses">Courses</a>
      <a href="/auth/login">Login/Register</a>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>
  
  <footer>
    <p>Online Coding School</p>
  </footer>
</body>
</html>
