{{!-- Используется макет из layouts/main.handlebars --}}
<h1>Добро пожаловать в онлайн-школу программирования!</h1>
<p>Это главная страница вашего приложения.</p>
<a href="/courses">Посмотреть курсы</a>
